<div class="p-grid p-fluid">
  <div class="p-col-12" style="justify-content: center">
    <span class="title">{{ title }}</span>
  </div>
  <div class="p-col-1">
    <label for="categoria" class="labelForm">{{labelCategoria}}<span style="color: red;">*</span></label>
  </div>
  <div class="p-col-11">
    <p-dropdown [options]="optionsFaqCategory" [(ngModel)]="faq.category" placeholder={{labelCategoria}}></p-dropdown>
  </div>
  <div class="p-col-1">
    <label for="questao" class="labelForm">{{labelQuestao}}<span style="color: red;">*</span></label>
  </div>
  <div class="p-col-11">
    <input id="questao" [(ngModel)]="faq.question" type="text" pInputText class="p-col-12 p-md-10">
  </div>
  <div class="p-col-1">
    <label for="resposta" class="labelForm">{{labelResposta}}<span style="color: red;">*</span></label>
  </div>
  <div class="p-col-11">
    <p-editor [(ngModel)]="faq.answer" [style]="{'height':'320px'}"></p-editor>
  </div>
  <div class="p-col-1">

  </div>
  <div class="p-col-1">
    <button pButton pRipple type="button" (click)="close()" label={{labelVoltar}} class="p-button-secondary sm" style="margin-right: .5em;"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
  </div>
  <div class="p-col-1">
    <button pButton pRipple type="submit" (click)="save()" label={{labelSalvar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
  </div>
</div>

<p-toast></p-toast>
