.labelForm {
  font-family: Open Sans, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.title {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  color: darkcyan;
}
