<div style="padding:1.7em">
  <p-tabView [activeIndex]="index">

    <p-tabPanel header={{labelPermissoes}} [selected]="true" [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">
      <ng-template pTemplate="content">
        <div style="padding:3px; margin-bottom: 1.5em">
          <p-panel header="Filtro" [toggleable]="true">
            <div class="card">
              <div class="p-formgroup-inline">
                  <div class="p-field">
                    <label for="email" class="p-sr-only">{{labelUsuario}}</label>
                    <input id="email" type="text"  [(ngModel)]="filter.email" pInputText placeholder={{labelUsuario}}>
                  </div>
                  <div class="p-field">
                    <label for="aplicacao" class="p-sr-only">{{labelAplicacao}}</label>
                    <input id="aplicacao" type="text"  [(ngModel)]="filter.serviceProvider" pInputText placeholder={{labelAplicacao}}>
                  </div>
                  <div class="p-field">
                    <label for="grupo" class="p-sr-only">{{labelGrupo}}</label>
                    <input id="grupo" type="text"  [(ngModel)]="filter.group" pInputText placeholder={{labelGrupo}}>
                  </div>
                  <div class="p-field">
                    <label for="permissao" class="p-sr-only">{{labelPermissao}}</label>
                    <input id="permissao" type="text"  [(ngModel)]="filter.permission" pInputText placeholder={{labelPermissao}}>
                  </div>
              </div>
              <div class="p-formgroup-inline" style="justify-content: center">
                <div class="p-field">
                  <button type="submit" pButton label={{labelFiltrar}} (click)="filtrar()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
                </div>
                <div class="p-field">
                  <button type="submit" pButton label={{labelLimpar}} (click)="clear()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
                </div>
              </div>
            </div>
          </p-panel>
        </div>


      <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
        [columns]="colunasPermisao" [value]="itensPermissao" [paginator]="true" [rows]=10
        [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading" [totalRecords]="totalRecords"
        [showCurrentPageReport]="true" currentPageReportTemplate={{labeInfoRegistrosTabela}}
        [resizableColumns]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-end">
          <div class="p-mr-2">
            <button type="submit" pButton label={{labelExportar}} (click)="exportExcel()" class="ui-button-primary sm"><fa-icon [icon]="['fas', 'file-excel']" style="margin-right: 5px;"></fa-icon></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width:30%">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:30%">
        </colgroup>
        </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr class="textBold" >
                <th *ngFor="let col of columns" pSortableColumn={{col.field}} >
                    {{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon>
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="textTable" [pSelectableRow]="itensPermissao">
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{ rowData[col.field] }}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8"><div class="notFound">{{labelPermNaoEncontrada}}</div></td>
            </tr>
          </ng-template>
      </p-table>
    </ng-template>
    </p-tabPanel>

    <p-tabPanel header={{labelPermissoesPadrao}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">
      <ng-template pTemplate="content">

      <div *ngIf="(edit || add)" style="padding:1.7em">
        <router-outlet></router-outlet>
      </div>

      <p-table *ngIf="permissao" #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
        [columns]="colunasPermissoesPadrao" [value]="itensPermissoesPadrao" [paginator]="true" [rows]=10
        [lazy]="true" (onLazyLoad)="loadDataPermissaoPadrao($event)" [loading]="loadingPermissaoPadrao" [totalRecords]="totalRecordsPermissaoPadrao"
        [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
        [resizableColumns]="true"
        [(selection)]="selectedPermissoesPadrao" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2" *ngIf="isAdm">
              <button type="submit" pButton label={{labelAdicionar}} (click)="addPermissaoPadrao()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2" *ngIf="isAdm">
              <button type="submit" pButton label={{labelEditar}} (click)="editPermissaoPadrao()"  [disabled]="!selectedPermissoesPadrao || selectedPermissoesPadrao.length > 1" class="p-button-info sm"><fa-icon [icon]="['fas', 'edit']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removePermissaoPadrao()" [disabled]="!selectedPermissoesPadrao" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col style="width:4%">
              <col style="width:30%">
              <col style="width:30%">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr class="textBold" >
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>{{labelHabilitado}}</th>
                <th pSortableColumn="nome">{{labelNome}}<p-sortIcon field="nome"></p-sortIcon></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="textTable" [pSelectableRow]="itensPermissoesPadrao">
                  <td>
                    <p-tableCheckbox [value]="rowData" (click)="permPadraoSelecionada(rowData)"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    <div *ngIf="rowData[col.field] === true; else templateName">
                      <fa-icon [icon]="['fas', 'check-circle']" style="margin-right: 5px;"></fa-icon>
                  </div>
                  <ng-template #templateName>
                    {{ rowData[col.field] }}
                  </ng-template>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </ng-template>
    </p-tabPanel>

  </p-tabView>

</div>

<p-confirmDialog header="Confirmação"></p-confirmDialog>

<p-toast></p-toast>
