.titulo {
  font-size: 2.3em;
  width: 100% !important;
  text-align: center;
  color: #817a7a;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: 100;
}

/* :host /deep/ .p-menubar .p-component {
  background-color: #007E7A;
  font-size: 14px;
} */

:host /deep/ .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: rgb(255, 255, 255);
  /* background-color: #007E7A; */
}

:host /deep/ .p-menubar {
  /* padding: 0.5rem 1rem; */
  /* background: #007E7A; */
  border: 0 none;
  /* border-radius: 4px; */
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-size: 1.2em;
  /* font-weight: bold; */
}

:host /deep/ .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: rgb(255, 255, 255);
}

:host /deep/ .p-menubar .p-submenu-list {
  display: none;
  position: absolute;
  z-index: 1;
  background: #007E7A;
  border: none;
}

:host /deep/ .p-menubar .p-menuitem-link .p-menuitem-text {
  color: rgb(255, 255, 255);;
}

.sair {
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
}

.labelAplicacao {
  font-size: 1.2em;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  margin-right: auto !important;
  margin-left: auto !important;
  display: center;
  word-wrap: break-word;
  text-align: center;
}

[role="button"] {
  display: inline-block;
  background: white;
  color: #5e5555;
  white-space: nowrap;
  line-height: 1.55;
}

[role="button"]:hover {
  background-color:  #ececea;
  cursor: pointer;
}


