  <div style="padding:1.7em">
    <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/usuarios" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'users']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-contas-usuarios"></span></div>
        </div>
      </div>
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/permissoes" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'shield-alt']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-contas-permissoes"></span></div>
        </div>
      </div>
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/solicitacoes" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'thumbs-up']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-contas-solicitacoes"></span></div>
        </div>
      </div>
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/acessos" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'chart-bar']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-contas-acessos"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:0em">
    <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/perguntas" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'question']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-comunicacao-frequentes"></span></div>
        </div>
      </div>
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/mensagens" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'envelope']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="vpgs-adm-menu-comunicacao-mensagens"></span></div>
        </div>
      </div>
      <!-- <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" routerLink="/interno/administracao/aprovacao" style="height: 160px; width: 180px; display: block; align-items: center; justify-content: center;">
          <fa-icon [icon]="['fas', 'check']" style="font-size:3em; margin-left: 10px;"></fa-icon>
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Aprovação de E-mail</div>
        </div>
      </div> -->
    </div>
  </div>
