<p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
    [columns]="colunas" [value]="itens" [totalRecords]="totalRecords"
    [paginator]="true" [rows]=10
    [lazy]="true" (onLazyLoad)="loadData($event)"
    [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
    [resizableColumns]="true" [loading]="loading"
    [globalFilterFields]="['from','title','creationDate']"
    [(selection)]="selectedMensagem" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-jc-end">
        <div class="p-mr-2" *ngIf="visibleBtnAdd">
          <button type="submit" pButton label={{labelAdicionar}} (click)="addMensagem()" [disabled]="(selectedMensagem.length >= 1)" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
        </div>
        <div class="p-mr-2">
          <button type="submit" pButton label={{labelVisualizar}} (click)="viewMensagem()" [disabled]="!(selectedMensagem.length === 1)" class="p-button-info sm"><fa-icon [icon]="['fas', 'eye']" style="margin-right: 5px;"></fa-icon></button>
        </div>
        <div class="p-mr-2" *ngIf="visibleBtnCopy">
          <button type="submit" pButton label={{labelCopiar}} (click)="copyMensagem()"  [disabled]="!(selectedMensagem.length === 1)" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'copy']" style="margin-right: 5px;"></fa-icon></button>
        </div>
        <div class="p-mr-2">
          <button type="submit" pButton label={{labelExportar}} (click)="exportExcel()" [disabled]="(selectedMensagem.length >= 1)" class="ui-button-primary sm"><fa-icon [icon]="['fas', 'file-excel']" style="margin-right: 5px;"></fa-icon></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col style="width:4%">
          <col style="width:24%">
          <col style="width:48%">
          <col style="width:24%">
      </colgroup>
    </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr class="textBold" >
            <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
              {{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon>
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr class="textTable" pSelectableRow=itens>
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns" class="ui-resizable-column">
                <div *ngIf="col.field === 'creationDate'; else templateName">
                  {{ rowData[col.field] | date: 'dd/MM/yyyy - HH:mm:ss' }}
              </div>
              <ng-template #templateName>
                {{ rowData[col.field] }}
              </ng-template>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8"><div class="notFound"> {{labelMensagemNaoEncontrada}}</div></td>
        </tr>
      </ng-template>
  </p-table>
