<div class="p-col-12">
  <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
      [value]="permissoes" [totalRecords]="totalRecords"
      [paginator]="true" [rows]=10
      [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
      [resizableColumns]="true"
      [(selection)]="selectedPermissoesSelecionada" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Permissões Selecionadas
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAdicionar}} (click)="showPermissaoDiolog()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removePermissao()" [disabled]="!selectedPermissoesSelecionada" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col style="width:4%">
            <col style="width:30%">
            <col style="width:30%">
            <col style="width:30%">
        </colgroup>
      </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr class="textBold" >
              <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
              <th>{{labelAplicacao}}</th>
              <th>{{labelGrupo}}</th>
              <th>{{labelPermissao}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="textTable" [pSelectableRow]="permissoes">
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{rowData.aplicacao}}</td>
                <td>{{rowData.grupo}}</td>
                <td>{{rowData.permissao}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="permissaoDialog" [style]="{width: '450px', height: '700px'}" header={{labelAdicionarPermissao}} [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="aplicacao" class="labelFormDiolog">{{labelAplicacao}}</label>
          <p-dropdown [options]="optionsAplicacao" optionLabel="value" [(ngModel)]="selectedAplicacao" placeholder={{labelAplicacao}} (onChange)="getValueAplicacao()"></p-dropdown>
      </div>
      <div class="p-field">
          <label for="grupo" class="labelFormDiolog">{{labelGrupo}}</label>
          <p-dropdown [options]="optionsGrupo" optionLabel="value" [(ngModel)]="selectedGrupo" placeholder={{labelGrupo}} (onChange)="getValueGrupo()" [disabled]="selectedAplicacao === null || selectedAplicacao === undefined"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="permissao" class="labelFormDiolog">{{labelPermissao}}</label>
        <p-dropdown [options]="optionsPermissao" optionLabel="value" [(ngModel)]="selectedPermissao" placeholder={{labelPermissao}} (onChange)="getValuePermissao()" [disabled]="!selectedGrupo"></p-dropdown>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label={{labelCancelar}} icon="pi pi-times" class="p-button-text" (click)="hideDialogPermissao()"></button>
      <button pButton pRipple label={{labelSalvar}} icon="pi pi-check" class="p-button-text" (click)="adicionarPermissao()" [disabled]="!selectedGrupo"></button>
  </ng-template>
</p-dialog>


<p-toast ></p-toast>
