<div class="p-col-12">
  <p-table #dt [value]="filtros" styleClass="p-datatable-sm p-datatable-gridlines"
  [totalRecords]="totalRecords" [paginator]="true" [rows]=10
  [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
  [resizableColumns]="true"
      [(selection)]="selectedFiltrosSelecionado" dataKey="id">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          Filtros
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAdicionar}} (click)="showFiltroDiolog()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removeFiltro()" [disabled]="!selectedFiltrosSelecionado || !selectedFiltrosSelecionado.length" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>{{labelCampo}}</th>
              <th>{{labelComparacao}}</th>
              <th>Valor</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="textTable" [pSelectableRow]="filtros">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>{{rowData.mainFieldValue}}</td>
            <td>{{rowData.comparisonTypeValue}}</td>
            <td>{{rowData.mainValueValue}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="filtroDialog" [style]="{width: '450px', height: '700px'}" header={{labelAdicionarFiltro}} [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="campo" class="labelFormDiolog">{{labelCampo}}</label>
          <p-dropdown [options]="optionsMainField" optionLabel="label" placeholder="Selecione um Campo" [(ngModel)]="selectedMainField" (onChange)="getValueMainField()"></p-dropdown>
      </div>
      <div class="p-field">
          <label for="comparacao" class="labelFormDiolog">{{labelComparacao}}</label>
          <p-dropdown [options]="optionsComparisonType" optionLabel="label" placeholder="Selecione uma Comparação" [(ngModel)]="selectedComparisonType" (onChange)="getValueComparisonType()"></p-dropdown>
      </div>
      <div class="p-field" *ngIf="this.showInput">
        <label for="valor" class="labelFormDiolog">{{labelValor}}</label>
        <input id="valor" [(ngModel)]="selectedMainValue" type="text" pInputText (onFocus)="getValueMainValue()" class="p-col-12 p-md-10">
      </div>
      <div class="p-field" *ngIf="this.showDropAuthMode">
        <label for="valor" class="labelFormDiolog">{{labelValor}}</label>
        <p-dropdown [options]="optionsAuthMode" optionLabel="label" [(ngModel)]="selectedAuthMode" (onChange)="getValueAuthMode()"></p-dropdown>
      </div>
      <div class="p-field" *ngIf="this.showDropCountry">
        <label for="valor" class="labelFormDiolog">{{labelValor}}</label>
        <p-dropdown [options]="optionsCountry" optionLabel="label" placeholder="Selecione uma Comparação" [(ngModel)]="selectedCountry" (onChange)="getValueCountry()"></p-dropdown>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label={{labelCancelar}} class="p-button-text" (click)="hideDialog()"><fa-icon [icon]="['fas', 'times']" ></fa-icon></button>
      <button pButton pRipple label={{labelSalvar}} class="p-button-text" (click)="adicionarFiltro()"><fa-icon [icon]="['fas', 'check']" ></fa-icon></button>
  </ng-template>
</p-dialog>


<p-toast ></p-toast>
