<div style="padding:1.7em">
  <div style="padding:3px; margin-bottom: 1.5em">
    <p-panel header={{labelFiltro}} [toggleable]="true">
      <div class="card">
        <div class="p-formgroup-inline">
            <div class="p-field">
                <label for="de" class="p-sr-only">{{labelDe}}</label>
                <input id="de" type="text"  [(ngModel)]="filter.de" pInputText placeholder={{labelDe}}>
            </div>
            <div class="p-field">
                <label for="titulo" class="p-sr-only">{{labelTitulo}}</label>
                <input id="titulo" type="text"  [(ngModel)]="filter.titulo" pInputText placeholder={{labelTitulo}}>
            </div>
            <div class="p-field">
              <label for="data" class="p-sr-only">{{labelData}}</label>
              <p-calendar [locale]="pt" [(ngModel)]="rangeDataFilter" [showButtonBar]="true" styleClass="p-column-filter" placeholder={{labelData}} [readonlyInput]="true" selectionMode="range" dateFormat="dd/mm/yy" showIcon="true" appendTo="body"></p-calendar>
            </div>
            <div class="p-field">
              <button type="submit" pButton label={{labelFiltrar}} (click)="filtrar()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-field">
              <button type="submit" pButton label={{labelLimpar}} (click)="clear()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
            </div>
        </div>
      </div>

    </p-panel>
  </div>


  <app-mensagem-core [colunas]="colunas" [loading]="loading" [itens]="itens" [datasource]="itens" [filter]="filter"
    [totalRecords]="totalRecords" [visibleBtnAdd]="true" [visibleBtnCopy] ="true" (loadMensagensEventEmitter)=loadMensagens($event)>
  </app-mensagem-core>

</div>
