<div style="padding:1.7em">
  <div style="padding:3px; margin-bottom: 1.5em">
    <p-panel header={{labelFiltro}} [toggleable]="true" >
      <div class="card">
        <div class="p-formgroup-inline">
            <div class="p-field">
              <input id="email" type="text"  [(ngModel)]="filter.email" pInputText placeholder={{labelEmail}}>
            </div>
            <div class="p-field">
              <input id="cpfCnpj" type="text"  [(ngModel)]="filter.cpfCnpj" pInputText placeholder={{labelCpfCnpj}}>
            </div>
            <div class="p-field">
              <input id="matricula" type="text"  [(ngModel)]="filter.matricula" pInputText placeholder={{labelMatricula}}>
            </div>
            <div class="p-field">
              <input id="nome" type="text"  [(ngModel)]="filter.nome" pInputText placeholder={{labelNome}}>
            </div>
            <div class="p-field">
              <p-dropdown [options]="optionsUserStatus" [(ngModel)]="valueStatusFilter" optionLabel="label" optionValue="value"></p-dropdown>
            </div>
        </div>
        <div class="p-formgroup-inline" style="justify-content: center">
          <div class="p-field">
            <button type="submit" pButton label={{labelFiltrar}} (click)="filtrar()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
          </div>
          <div class="p-field">
            <button type="submit" pButton label={{labelLimpar}} (click)="clear()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
        [columns]="colunas" [value]="itens"
        [paginator]="true" [rows]=10 [totalRecords]="totalRecords"
        [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading"
        [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
        [resizableColumns]="true"
        [(selection)]="selectedUsuario" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAdicionar}} (click)="addUser()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelEditar}} (click)="editUser()" [disabled]="!selectedUsuario || selectedUsuario.length > 1" class="p-button-info sm"><fa-icon [icon]="['fas', 'edit']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAtivar}} (click)="activeUser()" [disabled]="!selectedUsuario" class="p-button-outlined p-button-success"><fa-icon [icon]="['fas', 'user-check']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelInativar}} (click)="inactiveUser()" [disabled]="!selectedUsuario" class="p-button-outlined p-button-danger"><fa-icon [icon]="['fas', 'user-alt-slash']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removeUser()" [disabled]="!selectedUsuario" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelExportar}} (click)="exportExcel()" [disabled]="selectedUsuario" class="ui-button-primary sm"><fa-icon [icon]="['fas', 'file-excel']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col style="width:4%">
              <col style="width:22%">
              <col style="width:12%">
              <col style="width:10%">
              <col style="width:22%">
              <col style="width:10%">
              <col style="width:10%">
              <col style="width:10%">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr class="textBold" >
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                  {{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon>
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="textTable" [pSelectableRow]="itens">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{ rowData[col.field] }}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8"><div class="notFound"><span transloco="vpgs-adm-usuario-nao-encontrado"></span></div></td>
            </tr>
          </ng-template>
      </p-table>
</div>

<p-confirmDialog header="Confirmação"></p-confirmDialog>

<p-toast></p-toast>
