<div style="padding:1.7em">
  <div class="p-grid p-fluid">
    <div class="p-col-1">
      <label for="titulo" class="labelForm">{{labelTitulo}}<span style="color: red;">*</span></label>
    </div>
    <div class="p-col-11">
      <input id="titulo" [(ngModel)]="mensagem.title" type="text" [disabled]="edit" class="p-col-12 p-md-10">
    </div>
    <div class="p-col-1">
      <label for="mensagem" class="labelForm">{{labelMensagem}}<span style="color: red;">*</span></label>
    </div>
    <div class="p-col-11">
      <p-editor [(ngModel)]="mensagem.message" [disabled]="edit" [style]="{'height':'320px'}"></p-editor>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-11">
      <p-checkbox [(ngModel)]="mensagem.emailed" binary="true" [disabled]="edit" inputId="binary"></p-checkbox>
      <label for="binary" class="lbNotificar">{{labelNotificarEmail}}</label>
    </div>
    <div class="p-col-1">
    </div>
    <div class="p-col-2" *ngIf="!edit || copy" >
      <button pButton pRipple type="button" label={{labelFiltrarUsuarios}} (click)="showFilterUser()" class="p-button-outlined"><fa-icon [icon]="['fas', 'filter']"></fa-icon></button>
    </div>
    <div class="p-col-12"></div>
    <div class="p-col-1">
      <label for="usuarios" class="labelForm">{{labelUsuarios}}</label>
    </div>
    <div class="p-col-8">
      <p-table [columns]="colunas" [value]="mensagem.communicationUsers" [scrollable]="true" scrollHeight="200px" class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pSortableColumn={{col.field}}> <p-sortIcon field={{col.field}}></p-sortIcon>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total: {{mensagem.communicationUsers?.length}}
      </ng-template>
    </p-table>
    </div>
    <div class="p-col-3"></div>
    <div class="p-col-1"></div>
    <div class="p-col-1">
      <button pButton pRipple type="button" (click)="back()" label={{labelVoltar}} class="p-button-secondary sm" style="margin-right: .5rem"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
    </div>
    <div class="p-col-1" *ngIf="!edit || copy">
      <button pButton pRipple type="submit" (click)="save()" label={{labelSalvar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="filterDialog" [style]="{width: '950px'}"  [modal]="true" styleClass="p-fluid">
  <p-header  [ngStyle] = "{'color':'#007E7A'}">
    {{labelFiltrarUsuario}}
  </p-header>
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="email" class="labelFormDiolog">Email</label>
          <p-multiSelect appendTo="body" [options]="emailUserList" [showToggleAll]="true" [(ngModel)]="selectedUsers"
            optionLabel="label" [virtualScroll]="true" [displaySelectedLabel]="true" [filter]="true" filterBy="label" [itemSize]="34" class="multiselect-virtual-scroll">
            <ng-template let-emailUser pTemplate="item">
                <div>
                    <div>{{emailUser.label}}</div>
                </div>
            </ng-template>
          </p-multiSelect>
      </div>
      <app-seletor-permissao [permissoes]="permissionList" (permissoesEventEmitter)=loadPermission($event)></app-seletor-permissao>
      <div class="p-field">
        <div class="p-col-2 fixbtn">
          <button pButton pRipple type="submit" (click)="filtrarUsuario()" label={{labelFiltrar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'user-check']"></fa-icon></button>
        </div>
      </div>
  </ng-template>
</p-dialog>


<p-toast></p-toast>
