<div style="padding: 0.9em;">

  <div class="p-d-flex p-jc-start" style="padding-top: 1px;">
    <div class="p-mr-0"  style="background-color: white; width: 128px; height: 49.8px; align-content: center;">
      <img src="assets/img/logovale.png" width="100%" height="100%" class="d-inline-block align-top" alt="">
    </div>
    <div class="p-mr-0" style="background-color: white; width: 600px; display: inline-flex; align-items: center; justify-content: center;">
      <span class="titulo" style="margin-left: 6em;"> {{ titulo }} </span>
    </div>
  </div>

  <div class="p-d-flex p-jc-start " style="margin-top: 0.9em; background-color: #007E7A; width: 100%; height:65px; align-items: center; justify-content: center;">
    <div class="p-col-10">
      <p-menubar [model]="items"></p-menubar>
    </div>
    <div class="p-col-1" style="align-items: center; justify-content: center; margin-right: 2.8em;" >
      <a class="sair" (click)="logout()">
        <span class="sair">{{usuario}}
          <fa-icon [icon]="['fas', 'sign-out-alt']" style="margin-left: 10px;"></fa-icon>
        </span>
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
