.btn {
  font-size: 1.3em;
  width: 100% !important;
  text-align: center;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

::ng-deep .ql-toolbar.ql-snow {
  padding: 0px;
  border: none;
}

::ng-deep .ql-container.ql-snow {
  border: none;
}

.question {
  font-size: 1.3em;
  width: 100% !important;
  text-align: start;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
}

.panelWidht {
  width: 750px;
}
