
<div class="p-d-flex p-jc-center" style="padding-top: 3px;">
  <div class="p-mr-1" style="width: 600px; display: inline-flex; align-items: center; justify-content: center;">
    <input pInputText type="text" [(ngModel)]="textSearch" placeholder="Digite um texto a ser procurado..." pInputText style="width: 600px;">
  </div>
  <div class="p-mr-1" style="width: 50px; display: inline-flex; align-items: center; justify-content: center;">
    <button pButton type="button" icon="pi pi-search" (click)="search()" class="p-button-outlined  p-button-secondary" style="color: #007E7A;">  </button>
  </div>
  <div class="p-mr-1" style="width: 50px; display: inline-flex; align-items: center; justify-content: center;">
    <button pButton type="button" icon="pi pi-times" (click)="clear()" class="p-button-outlined  p-button-secondary" style="color: #007E7A;">  </button>
  </div>
</div>

  <div *ngFor="let itemFaq of perguntasFrequentes">
    <div class="p-mr-0" style="display: inline-flex; padding-top: 0.5em; background-color: white; width: 600px">
      <p-panel header={{itemFaq.name}} [toggleable]="true" [collapsed]="collapsed" style=" margin: auto;" styleClass="panelWidht">
        <div *ngFor="let faqQ of itemFaq.faqs">
          <div class="question">{{faqQ.question}}</div>
            <p-editor #editor [(ngModel)]="faqQ.answer" [style]="{'width': '650px', 'padding-bottom': '15px', 'border': 'none'}">
              <p-header [style]="{'border':'none'}"> </p-header>
              {{faqQ.answer}}
            </p-editor>
        </div>
      </p-panel>
    </div>
  </div>
