<div style="padding:1.5em">
  <div class="ui-g" style="padding-top: 0.9em;">
    <div class="ui-g-3 ui-fluid">
      <div class="p-col-12" *ngIf="request.serviceProviderId === 1">
        <label for="realizar" class="text">Prezados,</label>
        <div class="textSl" style="margin-top: 1em;">
          <div>
            <p>Estamos finalizando uma demanda para o processo de pedido
            de acesso ficar automatizado pelo IAM, enquanto isso, para
            pedir acesso ao sistema VPGS, estamos contingencialmente
            fazendo essa demanda por e-mail com o “De Acordo” de algum
            dos responsáveis das áreas abaixo para o time
            “Atendimento VALE
            <a href='mailto:atendimentovale@stefanini.com'>atendimentovale@stefanini.com</a>": </p>
          </div>
          <div><p></p></div>
          <div>
              <ul>
                <li><strong>Suprimentos:</strong> Não se aplica;</li>
                <li><strong>Recebimento de Notas Fiscais:</strong> Pedro Dias - <a href='mailto:pedro.dias@vale.com'>pedro.dias@vale.com</a>;</li>
                <li><strong>Chamado de Divergência Tributária:</strong> Humberto Azevedo - <a href='mailto:humberto.azevedo@vale.com'>humberto.azevedo@vale.com</a>;</li>
                <li><strong>Informe de Rendimento e Cancelamento de Nota Fiscal de Serviço:</strong> Giniane Kern - <a href='mailto:giniane.kern@vale.com'>giniane.kern@vale.com</a>;</li>
                <li><strong>Contratos:</strong>
                  <ul>
                    <li>Consultoria Geral – Leticia Stefenon: <a href='mailto:leticia.stefenon@vale.com'>leticia.stefenon@vale.com</a>;</li>
                    <li>Diretoria Executiva de Suporte aos Negócios – Sheila Fialho: <a href='mailto:sheila.fialho@vale.com'>sheila.fialho@vale.com</a>;</li>
                    <li>Diretoria Executiva de Sustentabilidade e RI – Agostinho Magalhães: <a href='mailto:agostinho.magalhaes@vale.com'>agostinho.magalhaes@vale.com</a>;</li>
                    <li>Diretoria Recursos Humanos – Manoel Moura: <a href='mailto:manoel.moura@vale.com'>manoel.moura@vale.com</a>;</li>
                  </ul> </li>
              </ul>
            </div>
          <div>No e-mail favor passar as informações abaixo e um perfil como exemplo para que possamos "espelhar" as permissões?</div>
          <div>
            <p>Nome completo:</p>
            <p>E-mail:</p>
            <p>Matrícula:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
