.textForm {
  font-size: 16px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

.textSl {
  font-size: 13px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

.infoRequestLabel{
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
  padding: 0.5em;
}

.infoRequest {
  /* font-size: 1.1em; */
  /* width: 100% !important; */
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  padding: 0.5em;
  /* font-weight: bold; */
}

p {
  margin: 0;
  text-indent: 3ch;
}


