<div style="padding:1.5em">

    <p-tabView [activeIndex]="index">

        <p-tabPanel header={{getValueNovoAcesso}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem',  'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">
            <div class="ui-g">
              <div class="ui-g-3 ui-fluid">
                <label for="realizar" class="text"><span transloco="vpgs-app-acesso-aplicacoesDesejadas"></span>:</label>
                <p-listbox [options]="aplicacoes" [(ngModel)]="request.serviceProviderId" (onChange)="clearInput()"></p-listbox>
              </div>
            </div>
            <div class="ui-g" style="padding-top: 0.9em;">
              <div class="ui-g-3 ui-fluid">
                <div class="p-col-12" *ngIf="request.serviceProviderId === 1">
                  <label for="realizar" class="text">Portal Midas</label>
                  <div class="textSl" style="margin-top: 1em;">
                    <div><span transloco="vpgs-app-acesso-portal-dados"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-portal-permissao"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-portal-departamento"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-portal-funcao"></span>:</div>
                    <!-- nao entra en/es -->
                    <div *ngIf="idioma == 'pt-BR'">Obs: Pode-se cadastrar um ou mais valores para cada item.</div>
                  </div>
                </div>
                <div class="p-col-12" *ngIf="request.serviceProviderId === 3">
                  <label for="realizar" class="text">Service Center</label>
                  <div class="textSl" style="margin-top: 1em;">
                    <div>
                      <span transloco="vpgs-app-acesso-serviceCenter"></span>
                    </div>
                  </div>
                </div>
                <div class="p-col-12" *ngIf="request.serviceProviderId === 4">
                  <label for="realizar" class="text">Consulta Unificada</label>
                  <div class="textSl" style="margin-top: 1em;">
                    <div><span transloco="vpgs-app-acesso-consulta-aplicavel"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-consulta-nome"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-consulta-email"></span>:</div>
                    <div><span transloco="vpgs-app-acesso-consulta-perfil"></span>:</div>
                    <!-- nao entra es -->
                    <div *ngIf="idioma != 'es'"><span transloco="vpgs-app-acesso-consulta-cnpjs"></span></div>
                  </div>
                </div>
              </div>
              <div><textarea pInputTextarea [(ngModel)]="request.descriptiOn" style="width:44em; margin-top: 1em;"></textarea></div>
            </div>
            <div class="p-d-flex p-jc-end" style="padding-top: 1em;">
              <div class="p-mr-0">
                <button pButton type="submit"  (click)="submit()" [disabled]="" class="p-button-success" label={{labelEnviar}}></button>
              </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header={{getValueSolicitacoes}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem',  'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">
          <p-table #dt [columns]="cols" [value]="itens" [resizableColumns]="true"
            [paginator]="true" [rows]=10 [totalRecords]="totalRecords"
            [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading"
            [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
            selectionMode="single" (onRowSelect)="onRowSelect($event)" [(selection)]="selectedRequest" dataKey="id"
            styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="createdOn"><span transloco="vpgs-app-acesso-solicitacoes-dataAbertura"></span> <p-sortIcon field="createdOn"></p-sortIcon></th>
                  <th><span transloco="vpgs-app-acesso-solicitacoes-tipo"></span></th>
                  <th><span transloco="vpgs-app-acesso-solicitacoes-situacao"></span></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="textTable" [pSelectableRow]="rowData">
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    <div *ngIf="col.field === 'createdOn'; else templateName">
                      {{ rowData[col.field] | date: 'dd/MM/yyyy - HH:mm:ss' }}
                  </div>
                  <ng-template #templateName>
                    {{ rowData[col.field] }}
                  </ng-template>
                </tr>
            </ng-template>
        </p-table>
        </p-tabPanel>

    </p-tabView>

  </div>

<p-dialog header={{getValueInfoSolicitacao}} [(visible)]="displayDiologInfoRequest"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [closable]="false" [modal]="true">
    <div class="p-grid">
      <div class="p-col-2" class="infoRequestLabel"><span transloco="vpgs-app-acesso-solicitacoes-aplicacao"></span></div>
      <div class="p-col-10" class="infoRequest">{{requestInfo.serviceProvider}}</div>
    </div>
    <div class="p-grid">
      <div class="p-col-2" class="infoRequestLabel"><span transloco="vpgs-app-acesso-solicitacoes-solicitadoEm"></span></div>
      <div class="p-col-10" class="infoRequest">{{requestInfo.createdOn | date: 'dd/MM/yyyy - HH:mm:ss'}}</div>
    </div>
    <div class="p-grid">
      <div class="p-col-2" class="infoRequestLabel"><span transloco="vpgs-app-acesso-solicitacoes-descricao"></span></div>
      <div class="p-col-10" class="infoRequest">{{requestInfo.descriptiOn}}</div>
    </div>
    <div class="p-grid">
      <div class="p-col-2" class="infoRequestLabel"><span transloco="vpgs-app-acesso-solicitacoes-situacao"></span>: </div>
      <div class="p-col-10" class="infoRequest">{{requestInfo.status}}</div>
    </div>

  <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="displayDiologInfoRequest=false" label={{getValueFechar}}></p-button>
  </ng-template>
</p-dialog>
