html,body {
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 12px;

}


.background {
    height:100em; background-size:cover;
    background: url('/assets/img/background00061490.jpg');
    background-position:fixed;
    background-size: auto;
}

.titulo {
  font-size: 1.5em;
  width: 100% !important;
  text-align: center;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

.sair {
  width: 100% !important;
  text-align: right;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  padding-right: 5px;
  padding-bottom: 1px;
  font-size: 1.1em;
  font-weight: normal;

}

[role="button"] {
  display: inline-block;
  background: #f5f5f2;
  color: #5e5555;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1.55;

  /* font: 300 16px/1.55 "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.55; */
}

[role="button"]:hover {
  color: #007E7A;
  background-color:  #ececea;
  cursor: pointer;
}

/* [role="button"]:focus {
  background-color: #eee;
	cursor: default;
} */

[role="button"]:active {
  color: #007E7A;
  background-color: white;
}

/* [role="button"][aria-pressed="true"] {
  color: #007E7A;
  background-color: white;
} */

