<div style="padding:1.5em">

  <div style="padding:3px; margin-bottom: 1.5em">
    <p-panel header={{labelFiltro}} [collapsed]="true" [toggleable]="true">
      <div class="card">
        <div class="p-formgroup-inline">
          <div class="p-field">
              <label for="titulo" class="p-sr-only"><span transloco="vpgs-app-mensagem-titulo"></span></label>
              <input id="titulo" type="text"  [(ngModel)]="filter.titulo" pInputText placeholder={{labelTitulo}}>
          </div>
          <div class="p-field">
            <label for="data" class="p-sr-only"><span transloco="vpgs-app-mensagem-data"></span></label>
            <p-calendar [locale]="pt" [(ngModel)]="rangeDataFilter" [showButtonBar]="true" styleClass="p-column-filter" placeholder={{labelData}} [readonlyInput]="true" selectionMode="range" dateFormat="dd/mm/yy" showIcon="true" appendTo="body"></p-calendar>
          </div>
        </div>
        <div class="p-formgroup-inline" style="justify-content: center">
          <div class="p-field">
            <button type="submit" pButton label={{labelFiltrar}} (click)="filtrar()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
          </div>
          <div class="p-field">
            <button type="submit" pButton label={{labelLimpar}} (click)="clear()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
          </div>
        </div>
      </div>

    </p-panel>
  </div>

  <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
    [columns]="colunas" [value]="itens"
    [paginator]="true" [rows]=10 [totalRecords]="totalRecords"
    [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading"
    [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
    [resizableColumns]="true"
    [(selection)]="selectedMensagem" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-jc-end">
        <div class="p-mr-2">
          <p-dropdown [options]="optionsMensagem" [(ngModel)]="optionSelected" (onChange)="getValueoptionsMensagem()"></p-dropdown>
        </div>
        <div class="p-mr-2">
          <button pButton type="button" label={{labelVisualizar}} (click)="show()" class="p-button-success sm" [disabled]="(!selectedMensagem || selectedMensagem.length > 1)"> <fa-icon [icon]="['fas', 'eye']" style="margin-right: 5px;"></fa-icon> </button>
        </div>
        <div class="p-mr-2">
          <button pButton type="button" label={{labelArquivar}} (click)="arquivar()" class="ui-button-primary sm" [disabled]="(!selectedMensagem)"> <fa-icon [icon]="['fas', 'folder']" style="margin-right: 5px;"></fa-icon> </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col style="width:4%">
          <col style="width:15%">
          <col style="width:50%">
          <col style="width:20%">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr class="textBold" >
          <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th><span transloco="vpgs-app-mensagem-importante"></span></th>
          <th pSortableColumn='title'><span transloco="vpgs-app-mensagem-assunto"></span><p-sortIcon field='title'></p-sortIcon></th>
          <th pSortableColumn='creationDate'><span transloco="vpgs-app-mensagem-data"></span><p-sortIcon field='creationDate'></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="textTable" pSelectableRow=itens >
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" class="ui-resizable-column">
            <div *ngIf="rowData.read === false || rowData.read === null" style="font-weight: bold;">
              <div *ngIf="(col.field === 'important')" >
                <div class="iconStarFalse" *ngIf="rowData[col.field] === false || rowData[col.field] === null">
                  <fa-icon [icon]="['fas', 'star']" style="margin-right: 5px;" (click)="setImportant(true, rowData)"></fa-icon>
                </div>
                <div class="iconStarTrue" *ngIf="(rowData[col.field] === true)">
                  <fa-icon [icon]="['fas', 'star']" style="margin-right: 5px;" (click)="setImportant(false, rowData)"></fa-icon>
                </div>
              </div>
              <div *ngIf="col.field === 'creationDate'">
                {{ rowData[col.field] | date: 'dd/MM/yyyy' }}
              </div>
              <div *ngIf="col.field != 'creationDate' && col.field != 'important'">
                {{ rowData[col.field] }}
              </div>
            </div>
            <div *ngIf="rowData.read === true">
              <div *ngIf="(col.field === 'important')" >
                <div class="iconStarFalse" *ngIf="rowData[col.field] === false || rowData[col.field] === null">
                  <fa-icon [icon]="['fas', 'star']" style="margin-right: 5px;" (click)="setImportant(true, rowData)"></fa-icon>
                </div>
                <div class="iconStarTrue" *ngIf="(rowData[col.field] === true)">
                  <fa-icon [icon]="['fas', 'star']" style="margin-right: 5px;" (click)="setImportant(false, rowData)"></fa-icon>
                </div>
              </div>
              <div *ngIf="col.field === 'creationDate'">
                {{ rowData[col.field] | date: 'dd/MM/yyyy' }}
              </div>
              <div *ngIf="col.field != 'creationDate' && col.field != 'important'">
                {{ rowData[col.field] }}
              </div>
            </div>

          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-left p-3"><div class="notFound"> Não há mensagens!</div></td>
      </tr>
    </ng-template>
  </p-table>

</div>
