html,body { height: 100%; }

.titulo {
  font-size: 1.8em;
  color: #5e5d55;
  width: 100% !important;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
}

.duvida {
  font-size: 1.2em;
  color: white;
  width: 100% !important;
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
}

.sucess {
  color: blue;
  width: 100% !important;
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
}

.error {
  color: red;
  width: 100% !important;
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
}

.icon {
  padding-bottom: 0.2em;
  width: 128px !important;
  height: 124px !important;
}

.labelAplicacao {
  font-size: 22px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  margin-right: auto !important;
  margin-left: auto !important;
  display: center;
  word-wrap: break-word;
  text-align: center;
}

.labelBtn {
  font-size: 17px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
  margin-right: auto !important;
  margin-left: auto !important;
  display: center;
  word-wrap: break-word;
  text-align: center;
}

.labelAcessos {
  font-size: 15px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  margin-right: auto !important;
  margin-left: auto !important;
  display: center;
  word-wrap: break-word;
  text-align: center;
}

[role="button"] {
  display: inline-block;
  background: white;
  color: #5e5555;
  white-space: nowrap;
  line-height: 1.55;
}

[role="button"]:hover {
  background-color:  #ececea;
  cursor: pointer;
}


[role="buttonLang"] {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.55;
  border: none;
}

[role="buttonLang"]:hover {
  cursor: pointer;
  border: none;
  background: none;
}



