<div style="background-color: white;">

  <div class="p-d-flex p-jc-end" style="padding-top: 1px; background-color: #007E7A; height: 30px; ">
    <div class="p-mr-0" role="buttonLang" tabindex="0" (click)="changeLang('pt-BR')" style="display: inline-flex; align-items: center; justify-content: end; padding: 5px;">
      <img src="assets/img/brazil.png" width="25px" height="25px" class="d-inline-block align-top" alt="">
    </div>
    <div class="p-mr-0" role="buttonLang" tabindex="0" (click)="changeLang('en')" style="display: inline-flex; align-items: center; justify-content: end; padding: 5px;">
      <img src="assets/img/united-kingdom.png" width="25px" height="25px" class="d-inline-block align-top" alt="">
    </div>
    <div class="p-mr-0" role="buttonLang" tabindex="0" (click)="changeLang('es')" style="display: inline-flex; align-items: center; justify-content: end; padding: 5px;">
      <img src="assets/img/spain.png" width="25px" height="25px" class="d-inline-block align-top" alt="">
    </div>
  </div>



  <div style="padding:1.3em" style="background-color: white ; padding-top: 25px;">
    <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
      <span class="titulo">Vale Procurement Global Services</span>
    </div>
    <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" (click)="acessoVale()" tabindex="0" style="height: 180px; width: 180px; display: block; align-items: center; justify-content: center;">
          <img class="icon" src="assets/img/keyhole_green-BG.png" alt="">
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">
            <span transloco="acessoVale"></span>
            <!-- Para qd tiver variavel -->
            <!-- <span>{{ 'applicationview.help_guide' | transloco: {name: 'World'} }}</span> -->
          </div>

        </div>
      </div>
      <div class="p-mr-0">
        <div class="p-d-flex p-flex-column" role="button" (click)="acessoFornecedor()" tabindex="0" style="height: 180px; width: 180px; display: block; align-items: center; justify-content: center;">
          <img class="icon" src="assets/img/keyhole_yellow--BG.png" alt="">
          <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;"><span transloco="acessoFornecedor"></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-d-flex p-jc-center" style="background-color: white; padding-top: 0.7em;" *ngIf="acessoForn">
    <form class="textTable">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3 p-md-3">
          <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="email"></span></label>
        </div>
        <div class="p-field p-col-9 p-md-8">
          <input id="email" type="text" class="form-control" pInputText [(ngModel)]="login.email" required #email="ngModel" [ngModelOptions]="{standalone: true}">
          <span class="text-validation" *ngIf="(email.touched ) && email.errors?.required">
            <p>{{getValueEmailObrigatorio}}</p>
          </span>
        </div>
        <div class="p-field p-col-3 p-md-3">
          <label for="senha" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="senha"></span></label>
        </div>
        <div class="p-field p-col-9 p-md-8">
          <input id="sobrenome" type="password" pPassword [feedback]="false" [(ngModel)]="login.senha" required #senha="ngModel" [ngModelOptions]="{standalone: true}">
          <span class="text-validation" *ngIf="(senha.touched ) && senha.errors?.required">
            <p>{{getValueSenhaObrigatorio}}</p>
          </span>
        </div>
        <div class="p-field p-col-3 p-md-3">
        </div>
        <div class="p-field p-col-9 p-md-0">
          <div class="p-col-5" role="button" tabindex="0" (click)="loginFornecedor()" style="border-radius: 4px;  background-color: #007E7A; width: 272px; height: 33px; margin-right: 50px;">
            <div class="labelBtn" style="padding-top: 1px; color: white; font-weight: bold;"><span transloco="entrar"></span></div>
          </div>
        </div>
        <div class="p-field p-col-9 p-md-3">
        </div>
        <div class="p-field p-col-3 p-md-0">
        </div>
        <div class="p-field p-col-9 p-md-0">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-6 p-md-0 p-jc-start">
              <div role="button" tabindex="0" (click)="openDialogEsqueciSenha()" style=" display: block; text-decoration: underline; align-items: center; justify-content: flex-end; margin-right: 100px;">
                <div class="labelAcessos" style="padding-top: 0px;"><span transloco="esqueciASenha"></span></div>
              </div>
            </div>
            <div class="p-field p-col-6 p-md-0 p-jc-end">
              <div role="button" tabindex="0" (click)="openDialogCadastro()" style=" display: block; align-items: center; text-decoration: underline; justify-content: flex-end; margin-right: 0px;">
                <div  class="labelAcessos" style="padding-top: 0px;"><span transloco="cadastraSe"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="p-d-flex p-jc-center" *ngIf="showSucess">
    <span class="sucess"> {{msgSucesso}} </span>
  </div>
  <div class="p-d-flex p-jc-center" *ngIf="showError">
    <span class="error"> {{msgErro}} </span>
  </div>

  <div *ngIf="showDuvidasLogin" class="p-d-flex p-jc-center" style="margin-top: 0.63em; background-color: #007E7A; height: 30px;">
    <div role="buttonLang" tabindex="0" routerLink="duvidas" style="display: inline-flex; align-items: center; justify-content: center;">
      <span class="duvida">Dúvidas de Login?</span>
    </div>
  </div>

</div>

<p-dialog header={{getValueSolicitarNovaSenha}} [(visible)]="showEsqueciSenha" [closable]="true" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-8">
        <label for="email"><span transloco="email"></span></label>
        <input id="email" [(ngModel)]="emailNovaSenha" type="text" pInputText>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-8">
      <div class="p-d-flex p-jc-center" role="button" tabindex="0" (click)="solicitarNovaSenha()" style="border-radius: 4px; justify-content: flex-end; background-color: #007E7A; width: 100px; margin-right: 50px;">
        <div class="p-mb-2" class="labelBtn" style="padding-top: 0px; color: white; font-weight: bold;"><span transloco="enviar"></span></div>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center" *ngIf="showError">
    <span class="error"> {{error}} </span>
  </div>
</p-dialog>

<p-dialog header={{getValueInformarNovaSenha}} [(visible)]="showInformarSenha" [closable]="true" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-8">
        <label for="senha"><span transloco="senha"></span></label>
        <input id="senha" [(ngModel)]="novaSenha" type="password" pInputText>
    </div>
    <div class="p-field p-col-8">
      <label for="contrasenha"><span transloco="confSenha"></span></label>
      <input id="contrasenha" [(ngModel)]="novaContraSenha" type="password" pInputText>
  </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-8">
      <div class="p-d-flex p-jc-center" role="button" tabindex="0" (click)="confirmarNovaSenha()" style="border-radius: 4px; justify-content: flex-end; background-color: #007E7A; width: 100px; margin-right: 50px;">
        <div class="p-mb-2" class="labelBtn" style="padding-top: 0px; color: white; font-weight: bold;"><span transloco="enviar"></span></div>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center" *ngIf="showError">
    <span class="error"> {{error}} </span>
  </div>
</p-dialog>

<p-dialog header={{getValueSolicitarCadastro}} [(visible)]="showCadastro" [closable]="true" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <div class="p-fluid p-formgrid p-grid">

    <div class="p-field p-col-3 p-md-4">
      <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="email"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="email" type="text" class="form-control" pInputText [(ngModel)]="user.email">
      <p-message severity="error" text="Firstname is required" *ngIf="submitted"></p-message>
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="cpf" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="cpf"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="nome" type="text" class="form-control" pInputText [(ngModel)]="user.taxCode">
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="nome" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="nome"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="nome" type="text" class="form-control" pInputText [(ngModel)]="user.firstName">
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="sobrenome" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="sobrenome"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="sobrenome" type="text" class="form-control" pInputText [(ngModel)]="user.lastName">
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="password" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="senha"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="password" type="password" pPassword [feedback]="false" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="confPassword" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="confSenha"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <input id="confPassword" type="password" pPassword [feedback]="false" [(ngModel)]="user.confNewPassword"  [ngModelOptions]="{standalone: true}">
    </div>

    <div class="p-field p-col-3 p-md-4">
      <label for="pais" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"><span transloco="pais"></span><span style="color: red;">*</span></label>
    </div>
    <div class="p-field p-col-8 p-md-6">
      <p-dropdown [options]="optionsPais" [(ngModel)]="user.countryId"></p-dropdown>
    </div>

    <div class="p-field p-col-3 p-md-4">
    </div>
    <div class="p-field p-col-8 p-md-6">
      <div class="p-d-flex " role="button" tabindex="0" (click)="cadastrar()" style="border-radius: 4px; justify-content: flex-end; background-color: #007E7A; width: 100px; margin-right: 0px;">
        <div class="p-mb-2" class="labelBtn" style="padding-top: 0px; color: white; font-weight: bold;"><span transloco="enviar"></span></div>
      </div>
    </div>

    <div class="p-field p-col-3 p-md-0">
    </div>
    <div class="p-d-flex p-jc-center" *ngIf="showError">
      <span class="error"> {{error}} </span>
    </div>
  </div>
</p-dialog>

<p-confirmDialog header={{error}}></p-confirmDialog>

<p-toast></p-toast>

