<div class="background">

  <div class="p-d-flex p-jc-center" style="padding-top: 1px;">
    <div class="p-mr-0"  style="background-color: white; width: 100px; align-content: center;">
      <img src="assets/img/vale-transparent-background.png" width="100%" height="100%" class="d-inline-block align-top" alt="">
    </div>
    <div class="p-mr-0" style="background-color: white; width: 600px; display: inline-flex; align-items: center; justify-content: center;">
      <span class="titulo">Vale Procurement Global Services</span>
    </div>
    <div class="p-mr-0" role="button" (click)="logout()" style="background-color: white; width: 100px; display: inline-flex; align-items: center; justify-content: center;padding-right: 0.5em;">
      <span class="sair"><span transloco="logout" style="padding-right: 0.5em;"></span><fa-icon [icon]="['fas', 'times']" ></fa-icon></span>
    </div>
  </div>

  <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
    <div class="p-mr-0">
      <div *ngIf="initial" class="p-d-flex p-flex-column" aria-pressed="true" role="button" tabindex="1" routerLink="aplicacao" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'home']" style="font-size: 30px;"></fa-icon></div>
        <div class="p-mb-2" style="padding-top: 0px;"><span transloco="menuAplicacoes"></span></div>
      </div>
      <div *ngIf="!initial" class="p-d-flex p-flex-column" role="button" tabindex="1" routerLink="aplicacao" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'home']" style="font-size: 30px;"></fa-icon></div>
        <div class="p-mb-2" style="padding-top: 0px;"><span transloco="menuAplicacoes"></span></div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="isVale">
      <div class="p-d-flex p-flex-column" role="button" tabindex="2" routerLink="acesso" (click)="change()" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'file']" style="font-size: 30px;"></fa-icon></div>
        <div class="p-mb-2" style="padding-top: 0px;"><span transloco="menuAcesso"></span></div>
      </div>
    </div>
    <div class="p-mr-0" >
      <div class="p-d-flex p-flex-column" role="button" tabindex="3" routerLink="mensagem" (click)="change()" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'envelope']" style="font-size: 30px;"></fa-icon></div>
        <div class="p-mb-2" style="padding-top: 0px;" *ngIf="numberMsg > 0">
          <span class="txtBadge"><span transloco="menuMensagens"></span> <span class="p-badge p-badge-danger" (click)="change()" styleClass="p-mr-2">{{numberMsg}}</span></span>
        </div>
        <div class="p-mb-2" style="padding-top: 0px;" *ngIf="numberMsg == 0">
          Mensagens
        </div>
      </div>
    </div>
    <div class="p-mr-0" >
      <div class="p-d-flex p-flex-column" role="button" tabindex="4" routerLink="meusDados" (click)="change()" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'user']" style="font-size: 30px;"></fa-icon></div>
      <div class="p-mb-2" style="padding-top: 0px;"><span transloco="menuMeusDados"></span></div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="idioma === 'pt-BR'">
      <div class="p-d-flex p-flex-column" role="button" tabindex="5" routerLink="perguntas" (click)="change()" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"><fa-icon [icon]="['fas', 'question']" style="font-size: 30px;"></fa-icon></div>
      <div class="p-mb-2" style="padding-top: 0px;"><span transloco="menuPerguntasFreq"></span> </div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="idioma != 'pt-BR'">
      <div class="p-d-flex p-flex-column" role="n-button" tabindex="5" style="height: 80px; width: 160px; display: inline-flex; align-items: center; justify-content: center;">
        <div class="p-mb-2" style="padding-bottom: 0px;"></div>
      <div class="p-mb-2" style="padding-top: 0px;"> </div>
      </div>
    </div>
  </div>

  <div class="p-d-flex p-jc-center">

    <div class="p-mr-0" style="background-color: white">
      <p-scrollPanel [style]="{width: '800px', height: '602.5px'}" >
        <router-outlet></router-outlet>
      </p-scrollPanel>
    </div>
  </div>

</div>
