html,body { height: 100%; }
.background {
  background: url('/new-vpgs/assets/img/background00061490.jpg');
  background-size: cover;
  overflow: hidden;
  padding-bottom: 11.9em;;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%
}

.txtBadge {
  color: #dc3545;
  font-weight: bold;
}

.titulo {
  font-size: 1.5em;
  width: 100% !important;
  text-align: center;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

.sair {
  width: 100% !important;
  text-align: right;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  padding-right: 5px;
  padding-bottom: 1px;
  font-size: 1.3em;
  font-weight: normal;

}

[role="n-button"] {
  display: inline-block;
  background: #f5f5f2;
  /* color: #5e5555; */
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1.55;
}

[role="button"] {
  display: inline-block;
  background: #f5f5f2;
  color: #5e5555;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1.55;
}

[role="button"]:hover {
  color: #007E7A;
  background-color:  #ececea;
  cursor: pointer;
}

[role="button"]:focus {
  color: #007E7A;
  background-color: white;
}

 [role="button"]:active {
  color: #007E7A;
  background-color: white;
}
 [role="button"][aria-pressed=true] {
  color: #007E7A;
  background-color: white;
}
