html,body { height: auto; max-width: auto;}
.background {
    background: url('/new-vpgs/assets/img/background00061490.jpg');
    background-size: cover;
    overflow: hidden;
    padding-bottom: 11.9em;;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%
}
