<div class="background">
  <div class="p-d-flex p-jc-center" style="padding-top: 3em;">
    <div class="p-mr-0" style="background-color: white">
      <p-scrollPanel [style]="{width: '600px'}">
        <router-outlet></router-outlet>
      </p-scrollPanel>
    </div>
  </div>
</div>
