<div style="width: 93%; height:auto; align-content: center; justify-content: center; padding:1.5em; margin-top: 1em;">
  <app-panel [perguntasFrequentes]="perguntasFrequentes" (searchEventEmitter)=load($event) [collapsed]="true"></app-panel>
</div>



