<div style="padding:1.5em">

  <p-tabView [activeIndex]="index">

    <!-- ABA MEUS DADOS -->
      <p-tabPanel header={{labelMeusDados}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-12">
            <label for="nome" class="labelForm"><span transloco="vpgs-app-meusDados-alterarNome"></span><span style="color: red;">*</span></label>
            <input id="nome" type="text" class="form-control" pInputText [(ngModel)]="user.firstName"
               [ngModelOptions]="{standalone: true}">
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="sobrenome" class="labelForm"><span transloco="vpgs-app-meusDados-alterarSobrenome"></span><span style="color: red;">*</span></label>
            <input id="sobrenome" type="text" pInputText [(ngModel)]="user.lastName"  [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="p-d-flex p-jc-start" style="padding-top: 0px;">
          <div class="p-mt-3">
            <button pButton type="submit" (click)="update()" [disabled]="!(user.firstName && user.lastName)" class="p-button-success" label="Enviar"></button>
          </div>
        </div>
      </p-tabPanel>

      <!-- ABA SENHA -->
      <p-tabPanel header={{labelSenha}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-7">
            <label for="senhaAntiga" class="labelForm"><span transloco="vpgs-app-meusDados-senhaAntiga"></span><span style="color: red;">*</span></label>
            <input id="senhaAntiga" type="password" pPassword [feedback]="false" pInputText [(ngModel)]="trocarSenha.senhaAntiga">
          </div>
          <div class="p-field p-col-12 p-md-7">
            <label for="novaSenha" class="labelForm"><span transloco="senha"></span><span style="color: red;">*</span></label>
            <input id="novaSenha" type="password" pPassword [feedback]="false" [(ngModel)]="trocarSenha.senha">
          </div>
          <div class="p-field p-col-12 p-md-7">
            <label for="confirmaNovaSenha" class="labelForm"><span transloco="vpgs-app-meusDados-confSenha"></span><span style="color: red;">*</span></label>
            <input id="confirmaNovaSenha" type="password" pPassword [feedback]="false" [(ngModel)]="trocarSenha.contraSenha">
          </div>
        </div>
        <div class="p-field p-col-9 p-md-0" *ngIf="showError">
          <span class="error"> {{error}} </span>
        </div>
        <div class="p-d-flex p-jc-start" style="padding-top: 0px;">
          <div class="p-mt-3">
            <button pButton type="submit" (click)="changePassword()" [disabled]="!(trocarSenha.senha && trocarSenha.contraSenha && trocarSenha.senhaAntiga)" class="p-button-success" label={{labelEnviar}}></button>
          </div>
        </div>
      </p-tabPanel>

  </p-tabView>

</div>

<p-confirmDialog header={{error}}></p-confirmDialog>
<p-toast></p-toast>
