<div style="padding:1.5em" id=toPrint>

  <div class="p-d-flex p-jc-end" style=" width: 100%; height:30px; align-content: flex-start; justify-content: flex-start;">
    <button pButton type="button" icon="pi pi-chevron-left" (click)="back()" class="p-button-outlined  p-button-secondary">  </button>
  </div>
  <div class="p-d-flex p-jc-center" style="background-color: #007E7A; width: 100%; height:30px; align-content: center; justify-content: center;">
    <span class="detalhe" style="padding: 3px"><span transloco="vpgs-app-mensagem-detalheMsg"></span></span>
  </div>

  <div class="p-d-flex p-jc-center" style="background-color: #ececea; width: 100%;  margin-top: 10px; align-content: center; justify-content: center;">
    <div class="p-col">
      <span style="font-weight: bold;"><span transloco="vpgs-app-mensagem-assunto"></span>: </span>
      <span>{{communicationUser.title}}</span>
    </div>
  </div>
  <div class="p-d-flex p-jc-center" style="background-color: #ececea; width: 100%; align-content: center; justify-content: center;">
    <div class="p-col">
      <span style="font-weight: bold;"><span transloco="vpgs-app-mensagem-data"></span>: </span>
      <span>{{communicationUser.creationDate | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <div class="p-d-flex p-jc-center" style="width: 100%; align-content: flex-start; justify-content: center;">
    <p-editor #editor [(ngModel)]="communicationUser.message"  [style]="{'width': '752px','height':'300px'}">
      <p-header> </p-header>
    </p-editor>
  </div>

  <div class="p-d-flex p-jc-center" style="padding-top: 10px;">
    <div class="p-mr-1"  style="width: 110px; display: inline-flex; align-items: center; justify-content: center;">
      <button pButton type="button" label={{labelImprimir}} (click)="print()" class="p-button-secondary p-button-outlined"> <fa-icon [icon]="['fas', 'print']" style="margin-right: 5px;"></fa-icon> </button>
    </div>
    <div class="p-mr-1"  style="width: 110px; display: inline-flex; align-items: center; justify-content: center;">
      <div class="iconStarFalse" *ngIf="communicationUser.important === false || communicationUser.important === null" style="width: 110px; display: inline-flex; align-items: center; justify-content: center;">
        <button pButton type="button" label={{labelImportante}} (click)="setImportant(true, communicationUser.id)" class="p-button-secondary p-button-outlined"> <fa-icon [icon]="['fas', 'star']" class="iconStarFalse" style="margin-right: 5px;"></fa-icon> </button>
      </div>
      <div class="iconStarTrue" *ngIf="communicationUser.important === true" style="width: 110px; display: inline-flex; align-items: center; justify-content: center;">
        <button pButton type="button" label={{labelImportante}} (click)="setImportant(false, communicationUser.id)" class="p-button-secondary p-button-outlined"> <fa-icon [icon]="['fas', 'star']" class="iconStarTrue" style="margin-right: 5px;"></fa-icon> </button>
      </div>
    </div>
    <div class="p-mr-1"  style="width: 110px; display: inline-flex; align-items: center; justify-content: center;">
      <button pButton type="button" label={{labelArquivar}} (click)="arquivar(communicationUser.id)" class="p-button-secondary p-button-outlined"> <fa-icon [icon]="['fas', 'folder']" style="margin-right: 5px;"></fa-icon> </button>
    </div>
  </div>
</div>
