.detalhe {
  font-size: 1.2em;
  width: 100% !important;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

::ng-deep .ql-toolbar.ql-snow {
  padding: 0px;
  border: none;
}

::ng-deep .ql-container.ql-snow {
  border-top: 1px solid #ccc;
  height: 320px;
}
