.icon {
  padding-bottom: 0.2em;
  width: 66px !important;
  height: 66px !important;
}

.labelAplicacao {
  font-size: 18px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  margin-right: auto !important;
  margin-left: auto !important;
  display: center;
  word-wrap: break-word;
  text-align: center;
}

[role="button"] {
  display: inline-block;
  background: white;
  color: #5e5555;
  white-space: nowrap;
  line-height: 1.55;
}

[role="button"]:hover {
  background-color:  #ececea;
  cursor: pointer;
}

