<div style="padding:1.5em">
  <span class="text"><span transloco="bemVindo"></span> {{userLogado}}</span>
  <div class="p-d-flex p-jc-center" style="padding-top: 1px;">
    <div class="p-mr-0" *ngIf="admin" >
      <div class="p-d-flex p-flex-column" role="button" routerLink="/interno/administracao" tabindex="0" style="height: 155px; width: 155px; display: block; align-items: center; justify-content: center;">
        <img class="icon" src="assets/img/admin-icon.png" alt="">
        <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Administração</div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="unificada" >
      <div class="p-d-flex p-flex-column" role="button" (click)="click('Consulta Unificada')" tabindex="0" style="height: 155px; width: 155px; display: block; align-items: center; justify-content: center;">
        <img class="icon" src="assets/img/consultanf-icon.png" alt="">
        <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Consulta Unificada</div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="dashboard" >
      <div class="p-d-flex p-flex-column" role="button" (click)="click('Dashboard')" tabindex="0" style="height: 155px; width: 155px; display: block; align-items: center; justify-content: center;">
        <img class="icon" src="assets/img/dashboard-icon.png" alt="">
        <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Dashboard</div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="midas">
      <div class="p-d-flex p-flex-column" role="button" (click)="click('Portal Midas')" tabindex="0" style="height: 155px; width: 155px; display: block; align-items: center; justify-content: center;">
        <img class="icon" src="assets/img/LOGO_MIDAS.png" alt="">
        <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Portal Midas</div>
      </div>
    </div>
    <div class="p-mr-0" *ngIf="serviceCenter">
      <div class="p-d-flex p-flex-column" role="button" (click)="click('Service Center')" tabindex="0" style="height: 155px; width: 155px; display: block; align-items: center; justify-content: center;">
        <img class="icon" src="assets/img/servicecenter-icon.png" alt="">
        <div class="p-mb-2" class="labelAplicacao" style="padding-top: 0px;">Service Center</div>
      </div>
    </div>
  </div>
</div>
