<div class="p-grid p-fluid">
  <div class="p-col-1"></div>
  <div class="p-col-11">
    <p-checkbox [(ngModel)]="permissoesPadrao.isEnabled" binary="true" inputId="binary"></p-checkbox>
    <label for="binary" class="lbHabilitado">{{labelHabilitado}}</label>
  </div>
  <div class="p-col-1"><label for="nome">{{labelNome}}</label></div>
  <div class="p-col-11"><input id="nome" [(ngModel)]="permissoesPadrao.name" type="text" pInputText class="p-col-12 p-md-10"></div>

  <app-seletor-filtro-permissao [filtros]="filterList" [totalRecords]="totalRecordsFilter" (filterEventEmitter)=loadFilter($event)></app-seletor-filtro-permissao>

  <app-seletor-permissao [permissoes]="permissionList" [totalRecords]="totalRecords" (permissoesEventEmitter)=loadPermission($event)></app-seletor-permissao>

  <div class="p-col-1">
    <button pButton pRipple type="button" (click)="back()" label={{labelVoltar}} class="p-button-secondary sm" style="margin-right: .5rem"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
  </div>
  <div class="p-col-1">
    <button pButton pRipple type="submit" (click)="save()" label={{labelSalvar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
  </div>
</div>

<p-toast></p-toast>
