<div style="padding:1.7em">
  <form class="form" [formGroup]="userForm" #form="ngForm">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-4 p-md-4">
        <label for="email" class="labelForm"><span transloco="email"></span></label>
        <input id="email" type="text" pInputText pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="user.email" #email="ngModel" [disabled]="edit" [ngModelOptions]="{standalone: true}">
        <span class="text-validation" *ngIf="email.errors && (email.invalid || email.touched)">
          Email inválido
        </span>
      </div>
    <div class="p-field p-col-4 p-md-4">
        <label for="nome" class="labelForm"><span transloco="nome"></span><span style="color: red;">*</span></label>
        <input id="nome" type="text" class="form-control" pInputText [(ngModel)]="user.firstName"
          required #nome="ngModel" [ngModelOptions]="{standalone: true}">
          <span class="text-validation" *ngIf="(nome.touched || form.submitted) && nome.errors?.required">
            Nome é obrigatório
          </span>
    </div>
    <div class="p-field p-col-4 p-md-4">
      <label for="sobrenome" class="labelForm"><span transloco="sobrenome"></span><span style="color: red;">*</span></label>
      <input id="sobrenome" type="text" pInputText [(ngModel)]="user.lastName" required  #sobrenome="ngModel" [ngModelOptions]="{standalone: true}">
      <span class="text-validation" *ngIf="(sobrenome.touched || form.submitted) && sobrenome.errors?.required">
        Sobrenome é obrigatório
      </span>
    </div>
    <div class="p-field p-col-4 p-md-4">
      <label for="pais" class="labelForm"><span transloco="pais"></span><span style="color: red;">*</span></label>
      <p-dropdown [options]="optionsPais" placeholder="Selecione" [(ngModel)]="user.countryId" (onChange)="getValuePais(user.countryId)" required  #pais="ngModel" [ngModelOptions]="{standalone: true}"></p-dropdown>
      <span class="text-validation" *ngIf="(pais.touched || form.submitted) && pais.errors?.required">
        País é obrigatório
      </span>
    </div>
    <div class="p-field p-col-4 p-md-4">
        <label for="tipoAcesso" class="labelForm"><span transloco="vpgs-adm-usuario-tipoAcesso"></span><span style="color: red;">*</span></label>
        <p-dropdown [options]="optionsTipoAcesso" [(ngModel)]="user.authMode" required  #tipoAcesso="ngModel" [ngModelOptions]="{standalone: true}"></p-dropdown>
        <span class="text-validation" *ngIf="(tipoAcesso.touched || form.submitted) && tipoAcesso.errors?.required">
          Tipo de Acesso é obrigatório
        </span>
    </div>
    <div class="p-field p-col-4 p-md-4" *ngIf="showDropCpf || edit && (user && user.country === 'Brasil')">
      <div class="form-group">
        <label for="cpfCnpj" class="labelForm"><span transloco="vpgs-adm-usuario-cpf"></span><span style="color: red;">*</span></label>
        <input id="taxCode" type="text" pInputText formControlName="taxCode"  required>
        <small class="text-help">Apenas dígitos</small>
        <div class="text-validation" *ngIf="(userForm.controls.taxCode.touched || form.submitted || user.country === '2') && userForm.controls.taxCode.errors?.required">
          CNPJ/CPF é obrigatório
        </div>
        <div class="text-validation alert alert-danger" *ngIf="(userForm.controls.taxCode.touched && userForm.controls.taxCode.invalid)">
          CNPJ/CPF inválido
        </div>
      </div>
    </div>
    <div class="p-field p-col-4 p-md-4" *ngIf="(edit && user.authMode != 'INTERNAL')">
      <label for="matricula" class="labelForm"><span transloco="vpgs-adm-usuario-matricula"></span><span style="color: red;">*</span></label>
      <input id="matricula" type="text" pInputText [(ngModel)]="user.companyCode" required  #companyCode="ngModel" [ngModelOptions]="{standalone: true}">
      <span class="text-validation" *ngIf="(companyCode.touched || form.submitted) && companyCode.errors?.required">
        Matrícula é obrigatório
      </span>
    </div>
    <div class="p-field p-col-4 p-md-4" *ngIf="editRequest">
      <label for="descRequest" class="labelForm"><span transloco="vpgs-adm-usuario-descPedido"></span></label>
      <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="requestAccept.descriptiOn" [disabled]="true"
      autoResize="autoResize"  [ngModelOptions]="{standalone: true}"></textarea>
    </div>
  </div>

  <app-seletor-permissao [permissoes]="permissionList" [totalRecords]="totalRecords" (permissoesEventEmitter)=loadPermission($event)></app-seletor-permissao>

  <div class="p-grid p-fluid">
    <div class="p-col-1">
      <button pButton pRipple type="button" (click)="back()" label={{labelVoltar}} class="p-button-secondary sm" style="margin-right: .5rem"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
    </div>
    <div class="p-col-1"  *ngIf="isAdm">
      <button pButton pRipple type="submit" (click)="save()" label={{labelSalvar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'check']"  style="margin-right: .4rem"></fa-icon></button>
    </div>

  </div>
  </form>
</div>

<p-toast></p-toast>
