<div style="padding:1.7em">

  <p-tabView [activeIndex]="index">
    <p-tabPanel header={{labelGestao}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">

      <div style="padding:3px; margin-bottom: 1.5em">
        <p-panel header={{labelFiltro}} [toggleable]="true">
          <div class="card">
            <div class="p-formgroup-inline">
                <div class="p-field">
                  <label for="faqcategory" class="p-sr-only">{{labelCategoria}}</label>
                  <p-dropdown [options]="optionsFaqCategory" optionLabel="label" [(ngModel)]="selectedFaqCategory" (onChange)="getValueFaqCategory()" placeholder={{labelCategoria}}></p-dropdown>
                </div>
                <div class="p-field">
                  <label for="question" class="p-sr-only">{{labelQuestao}}</label>
                  <input id="question" type="text" [(ngModel)]="filter.question" pInputText placeholder={{labelQuestao}}>
                </div>
            </div>
            <div class="p-formgroup-inline" style="justify-content: center">
              <div class="p-field">
                <button type="submit" pButton label={{labelFiltrar}} (click)="filtrar()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
              </div>
              <div class="p-field">
                <button type="submit" pButton label={{labelLimpar}} (click)="clear()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
              </div>
            </div>
          </div>
        </p-panel>
      </div>

      <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
        [columns]="colunas" [value]="itensFaqCategoryQuestion" [paginator]="true" [rows]=10
        [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading" [totalRecords]="totalRecords"
        [showCurrentPageReport]="true" currentPageReportTemplate={{labeInfoRegistrosTabela}}
        [resizableColumns]="true"
        [(selection)]="selectedFaqCategoryQuestion" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAdicionar}} (click)="addPergunta()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelEditar}} (click)="editPergunta()" [disabled]="!selectedFaqCategoryQuestion || (selectedFaqCategoryQuestion.length > 1 || selectedFaqCategoryQuestion.length == 0)" class="p-button-info sm"><fa-icon [icon]="['fas', 'edit']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removePergunta()" [disabled]="(!selectedFaqCategoryQuestion || selectedFaqCategoryQuestion.length == 0)" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelExportar}} (click)="exportExcel()" class="ui-button-primary sm"><fa-icon [icon]="['fas', 'file-excel']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col style="width:4%">
              <col style="width:26%">
              <col style="width:70%">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr class="textBold" >
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                  {{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon>
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="textTable" [pSelectableRow]="itens">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{ rowData[col.field] }}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <p-button type="button" icon="pi pi-arrow-down" (click)="movePositionDownFaq()" [disabled]="!selectedFaqCategoryQuestion || selectedFaqCategoryQuestion.length > 1" style="margin-right: 5px;"></p-button>
            <p-button type="button" icon="pi pi-arrow-up" (click)="movePositionUpFaq()" [disabled]="!selectedFaqCategoryQuestion || selectedFaqCategoryQuestion.length > 1"></p-button>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8"><div class="notFound"> {{labelSemRegistros}}</div></td>
            </tr>
          </ng-template>
      </p-table>
    </p-tabPanel>


    <p-tabPanel header={{labelCategorias}} [headerStyle]="{'color': '#5e5555', 'margin-right': '1.5rem', 'font-family': 'Open Sans, sans-serif' , 'font-size': '0.9em'}">

      <div style="padding:3px; margin-bottom: 1.5em">
        <p-panel header={{labelFiltro}} [toggleable]="true">
          <div class="card">
            <div class="p-formgroup-inline">
                <div class="p-field">
                  <p-dropdown [options]="optionsLocale" optionLabel="label" [(ngModel)]="selectedLocale" placeholder={{labelIdioma}}></p-dropdown>
                </div>
                <div class="p-field">
                  <p-dropdown [options]="optionsBoolean" optionLabel="label" [(ngModel)]="selectedIsPersistent" placeholder="Is Persistent"></p-dropdown>
                </div>
                <div class="p-field">
                  <p-dropdown [options]="optionsBoolean" optionLabel="label" [(ngModel)]="selectedIsLogged" placeholder="Is Logged"></p-dropdown>
                </div>
                <div class="p-field">
                  <input id="question" type="text" [(ngModel)]="filterCategory.name" pInputText placeholder={{labelNome}}>
                </div>
            </div>
            <div class="p-formgroup-inline" style="justify-content: center">
              <div class="p-field">
                <button type="submit" pButton label={{labelFiltrar}} (click)="filtrarCategory()" class="p-button-success sm"><fa-icon [icon]="['fas', 'filter']" style="margin-right: 5px;"></fa-icon></button>
              </div>
              <div class="p-field">
                <button type="submit" pButton label={{labelLimpar}} (click)="clearCategory()" class="p-button-secondary sm"><fa-icon [icon]="['fas', 'times']" style="margin-right: 5px;"></fa-icon></button>
              </div>
            </div>
          </div>
        </p-panel>
      </div>

      <p-table #dt class="ui-table-responsive" styleClass="p-datatable-sm p-datatable-gridlines"
        [columns]="colunasCategoria" [value]="itensCategoria" [paginator]="true" [rows]=10
        [lazy]="true" (onLazyLoad)="loadDataCategory($event)" [loading]="loadingCategory" [totalRecords]="totalRecordsCategory"
        [showCurrentPageReport]="true" currentPageReportTemplate={{labeInfoRegistrosTabela}}
        [resizableColumns]="true"
        [(selection)]="selectedCategory" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-jc-end">
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelAdicionar}} (click)="addCategory()" class="p-button-success sm"><fa-icon [icon]="['fas', 'plus-square']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelEditar}} (click)="editCategory()" [disabled]="!selectedCategory || (selectedCategory.length > 1 || selectedCategory.length == 0)" class="p-button-info sm"><fa-icon [icon]="['fas', 'edit']" style="margin-right: 5px;"></fa-icon></button>
            </div>
            <div class="p-mr-2">
              <button type="submit" pButton label={{labelRemover}} (click)="removeCategory()" [disabled]="(!selectedCategory || selectedCategory.length == 0)" class="p-button-danger sm"><fa-icon [icon]="['fas', 'trash-alt']" style="margin-right: 5px;"></fa-icon></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col style="width:4%">
              <col style="width:26%">
              <col style="width:70%">
          </colgroup>
        </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr class="textBold" >
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                  {{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon>
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr class="textTable" [pSelectableRow]="itensCategoria">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{ rowData[col.field] }}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <p-button type="button" icon="pi pi-arrow-down" (click)="movePositionDownFaqCategory()" [disabled]="!selectedCategory || selectedCategory.length > 1" style="margin-right: 5px;"></p-button>
            <p-button type="button" icon="pi pi-arrow-up" (click)="movePositionUpFaqCategory()" [disabled]="!selectedCategory || selectedCategory.length > 1"></p-button>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8"><div class="notFound"> {{labelSemRegistros}}</div></td>
            </tr>
          </ng-template>
      </p-table>
    </p-tabPanel>

  </p-tabView>

</div>

<p-confirmDialog header={{labelConfirmacao}}></p-confirmDialog>

<p-toast></p-toast>
