/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

.text {
  font-size: 18px;
  width: 100% !important;
  color: #5f5f5f;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
}

.textTable {
  font-family: "Open Sans", sans-serif;
  width: 70% !important;
  font-size: 0.9em;
  white-space: nowrap;
  word-wrap: break-word;
}

.notFound {
  font-size: 1.1em;
  width: 100% !important;
  text-align: center;
  color: darkcyan;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
}

.iconStarTrue {
  font-size: 1.1em;
  width: 100% !important;
  text-align: center;
  color: #017470;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
}

.iconStarFalse {
  font-size: 1.1em;
  width: 100% !important;
  color: rgb(179, 180, 180);
  text-align: center;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
}

.text-validation {
  font-size: 0.6em;
  width: 100% !important;
  text-align: start;
  color: red;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
  font-weight: bold;
}

.text-help {
  font-size: 0.6em;
  width: 100% !important;
  text-align: center;
  font-family: "Lato", Helvetika, Calibri, Arial, sans-serif;
}
.cdk-virtual-scroll-viewport{
  height: 140px !important;
}
.fixbtn{
  margin-top: 2pc;
}

/* .p-paginator, .p-paginator-current {
  background-color: #ffffff;
  border:null !important;
  color: #007bff;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0 0 0 -1px;
  padding: 0 0.5rem;
} */

/* .p-paginator-bottom {
  border: 0px;
  background-color: #ffffff;
  color: #007bff;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0 0 0 -1px;
  padding: 0 0.5rem;
} */
