<div class="p-grid p-fluid">
  <div class="p-col-12" style="justify-content: center">
    <span class="title">{{ title }}</span>
  </div>
  <div class="p-col-2">
    <label for="idioma" class="labelForm">{{labelIdioma}}</label>
  </div>
  <div class="p-col-10">
    <p-dropdown [options]="optionsLocale" [(ngModel)]="faqCategory.localeId"></p-dropdown>
  </div>
  <div class="p-col-2">
    <label for="categoria" class="labelForm">{{labelManterAoFalhar}}</label>
  </div>
  <div class="p-col-10">
    <p-dropdown [options]="optionsBoolean" [(ngModel)]="faqCategory.isPersistent"></p-dropdown>
  </div>
  <div class="p-col-2">
    <label for="categoria" class="labelForm">{{labelUsuarioLogado}}</label>
  </div>
  <div class="p-col-10">
    <p-dropdown [options]="optionsBoolean" [(ngModel)]="faqCategory.isLogged"></p-dropdown>
  </div>
  <div class="p-col-2">
    <label for="nome" class="labelForm">{{labelNome}}<span style="color: red;">*</span></label>
  </div>
  <div class="p-col-10">
    <input id="nome" [(ngModel)]="faqCategory.name" type="text" pInputText class="p-col-12 p-md-10">
  </div>

  <app-seletor-permissao [permissoes]="permissionList" [totalRecords]="totalRecords" (permissoesEventEmitter)=loadPermission($event)></app-seletor-permissao>

  <div class="p-col-1">
    <button pButton pRipple type="button" (click)="close()" label={{labelVoltar}} class="p-button-secondary sm" style="margin-right: .5rem"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
  </div>
  <div class="p-col-1">
    <button pButton pRipple type="submit" (click)="save()" label={{labelSalvar}} class="p-button-success sm"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
  </div>
</div>






<p-toast></p-toast>
