<div style="padding:1.7em">
  <p-table #dt [value]="solicitacoes" [columns]="cols" dataKey="id" [resizableColumns]="true"
      [paginator]="true" [rows]=10 [totalRecords]="totalRecords"
      [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading"
      [showCurrentPageReport]="true" currentPageReportTemplate="{{labeInfoRegistrosTabela}}"
      [style]="{'padding-top': '1em'}" styleClass="p-datatable-sm p-datatable-gridlines">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th><span transloco="email"></span></th>
        <th><span transloco="nome"></span></th>
        <th><span transloco="sobrenome"></span></th>
        <th><span transloco="tipo"></span></th>
        <th pSortableColumn="dataAbertura"><span transloco="dataPedido"></span><p-sortIcon field="dataAbertura"></p-sortIcon></th>
        <th style="width:7rem;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="textTable">
          <td *ngFor="let col of columns" class="ui-resizable-column">
            <div *ngIf="col.field === 'createdOn'; else templateName">
              {{ rowData[col.field] | date: 'dd/MM/yyyy - HH:mm:ss' }}
          </div>
          <ng-template #templateName>
            {{ rowData[col.field] }}
          </ng-template>
          </td>
          <td style="justify-content: center;">
            <button pButton pRipple type="button" icon="pi pi-times" (click)="reject(rowData)" title={{labelRejeitar}} class="p-button-rounded p-button-danger p-button" style="margin: 0px 5px 0px;"></button>
            <button pButton pRipple type="button" icon="pi pi-check" (click)="accept(rowData)" title={{labelAceitar}} class="p-button-rounded p-button-success p-button" style="margin: 0px 5px 0px;"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-toast></p-toast>

<p-dialog header={{labelRejeicaoMudanca}} [(visible)]="displayDiologReject"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [closable]="true" [modal]="true">
  <div class="p-fluid">
    <div class="p-field">
        <label for="assunto"><span transloco="vpgs-app-mensagem-assunto"></span></label>
        <input type="text" pInputText [(ngModel)]="assunto"/>
    </div>
    <div class="p-field">
        <label for="lastname1"><span transloco="motivo"></span></label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="rejectionNote"></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" icon="pi pi-check" label={{labelEnviar}}
      [disabled]="!rejectionNote" class="p-button-success"
      (click)="setRequestRejected()"></button>
  </ng-template>
</p-dialog>
