<div class="background">

  <div class="p-d-flex p-jc-center" style="padding-top: 1px;">
    <div class="p-mr-0" style="background-color: white; width: 835px; display: inline-flex; align-items: center; justify-content: initial; padding: 10px;">
        <div class="p-d-flex p-flex-column" role="button" tabindex="0" (click)="back()" style="color: #007E7A; display: block; align-items: center; text-decoration: underline; justify-content: flex-end; margin-right: 100px;">
          <span class="" style="padding: 3px">
            <fa-icon [icon]="['fas', 'chevron-left']" style="padding-right: 5px;"></fa-icon>Voltar
          </span>
        </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center" style="padding-top: 0px;">
    <div class="p-mr-0" style="background-color: white; width: 835px; display: inline-flex; align-items: center; justify-content: center;">
      <div class="p-d-flex p-jc-center" style="background-color: #007E7A; width: 90%; height:35px; align-content: center; justify-content: center;">
        <span class="tituloPerguntas" style="padding: 3px">Perguntas Frequentes</span>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center" style="padding-top: 0px; padding-bottom: 1px;">
    <p-scrollPanel [style]="{ width: '750px', height: 'auto'}" style="background-color: white;">
      <div class="p-mr-0" style="background-color: white; width: 797px; align-content: center;  display: inline-flex; align-items: center; justify-content: center;">
        <div style="background-color: white; width: 815px; height:600px; align-content: center; justify-content: center; padding:1.5em">
            <app-panel [perguntasFrequentes]="perguntasFrequentes" (searchEventEmitter)=load($event) [collapsed]="false"></app-panel>
        </div>
      </div>
    </p-scrollPanel>
  </div>
</div>
