.tituloPerguntas {
  font-size: 1.2em;
  width: 100% !important;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

html,body { height: 100%; }
.background {
  background: url('/new-vpgs/assets/img/background00061490.jpg');
  background-size: cover;
  overflow: hidden;
  padding-bottom: 11.9em;;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%
}

[role="button"] {
  display: inline-block;
  background: white;
  color: #5e5555;
  white-space: nowrap;
  line-height: 1.55;
}

[role="button"]:hover {
  background-color:  #ececea;
  cursor: pointer;
}
